.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tab-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
}
.tab-button {
  width: 30%;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(252, 252, 252);
}
.tab-button:hover {
  cursor: pointer;
  background-color: rgb(255, 245, 245);
}

.categories {
  display: flex;
  flex-direction: column;
}
.category-type-title {
  font-size:large;
  font-weight: bold;
  margin: 5px 0;
}